* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%; 
    padding: 0%;   
   color: white;
   background-color: black;
} 

.nav { 
    display: flex;
    padding: 10px;
    background-color: black;
    font-size: large;
    color: white;
    text-align: center;  
}
.nav ul { 
    text-align: center;
    font-size: 24px;
    align-items: center;
    color: white;
    list-style: none;
    text-decoration: none;
    display: flex; 
}

.nav ul li {
    text-decoration: none;
    color: white;
    margin-left: 23px;
}

 

.nav ul li a {
    color: white;
    text-decoration: none;
    /* font-weight: bolder; */
 }  

.active {
    text-decoration: underline;
    border-bottom: 3px solid white;
}   
 .home-heading {
    margin-top: 40px;
    padding: auto;
    text-align: center;
    /* font-weight: bolder; */

}

.img-edit {
    border-radius: 100px;

}

.img-set {
    align-items: center;
    text-align: center;
}
.para-edit { 
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    font-size: 50px;
    display: flex;
}
.text1{
    margin:2px;
}
.text2{
    margin:2px;
}

.para-details {
    border-radius: 20px;
    display: flex;
    padding: 3pc;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px;
}
.btn-read {
    font-weight: bolder;
    margin: 8px;
    border-radius: 34px;
    padding: 6px;
    cursor: pointer;
    font-size: 17px;
    border: 2px solid white;
}
.btn-read:hover {
    background-color: white;
    color: black;
    transition: all 0.5s;
}
.item {
    display: flex;
    flex-direction: row;
    /* border: 2px solid white; */
    text-align: center; 
    align-items: center;
}
.item-1 {
    /* border: 2px solid white; */
    padding: 30px;
    margin: 21px;
}
#footer {
    font-family: 'Istok Web', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}
h1 {
    text-align: center;
}
.container {
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 34px;
    text-align: center;
    width: 70vw;
    height: 70vh;
    justify-content: center;
    background-color: #290808;
}
.myInput {
    outline: none;
    display: block;
    padding: 13px 16px;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    margin: 14px 0px;
}
.btn {
    border: 2px solid #271a1a;
    margin: 8px 2px;
    width: 5%;
    background-color: #292020;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    text-align: center;
    color: white;
    padding: 6px 4px;
}
.foot {
    background-color: black;
    color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* height: 25vh; */
    padding: 30px;
    align-items: center;
    /* justify-content: center; */
    /* border: 3px solid lightgreen; */
}
.spn {
    text-align: center;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    font-weight: bolder;
}
.spn:hover {
    transition: 3s;
    color: lightgreen;
}
.footImg {
    width: 49px;
    margin: 43px 7px;
    border-radius: 14px;
    cursor: pointer;



}

.footg {
    width: 8pc;
    float: left;
    /* margin-left: ; */
    flex-direction: column;
    display: flex;
    border-radius: 14px;
}
.footImg2 {
    width: 8pc;
    margin: 6px 32pc;
    border: 2px solid white;
    /* float: left; */
    /* flex-direction: column; */
    /* padding: 10px; */
    /* display: flex; */
    border-radius: 14px;
    cursor: pointer;
}

@media only screen and (max-width:1140px){
    .nav{
         
        justify-content: center;
        align-items: center;
    }
        .nav ul { 
            font-size: 20px; 
        }
    .li{
        margin: 0px;
        align-items: center;
         
    }
    .para-edit{
        flex-direction: column;
        text-align: center;

    }
    .item{
        flex-direction: column;
    }
        .text1 {
            margin: 0px;
        }
    
        .text2 {
            margin: 0px;
        }
 

.nav ul li a{
    margin: 10px;
}
}